.modal-content button[type="button"] {
  background-color: #555;
  color: #ccc;
}

.modal-content button[type="button"]:hover {
  background-color: #666;
}

.modal-content button[type="button"]:nth-child(2) {
  background-color: #ff9900;
  color: #ccc;
}

.modal-content button[type="button"]:nth-child(2):hover {
  background-color: #ff6600;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 90vw;
  text-align: center;
  position: relative;
  color: #ccc;
}

.modal-content h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #ccc;
}

.modal-content label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  color: #ccc;
}

.modal-content input[type="text"],
.modal-content select,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #444;
  color: #ccc;
}

.modal-content textarea {
  height: 100px;
  resize: none;
  font-size: 0.9rem;
  color: #ccc;
}

.modal-content button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
  background-color: #555;
  color: #ccc;
  /* Agregamos Framer Motion */
  transition: {
    duration: 0.5;
    ease: "easeInOut"
  }
}

.form-group {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
}

.form-group label {
  width: 100px; 
  margin-right: 10px; 
  color: #ccc;
}

.form-group input {
  flex: 1; 
  padding: 5px;
  background-color: #444;
  color: #ccc;
}

.close {
  position: absolute; 
  top: 10px;
  right: 15px;
  font-size: 24px; 
  font-weight: bold;
  color: #ccc; 
  cursor: pointer; 
  transition: color 0.3s ease; 
}

.close:hover {
  color: #66ccff;
}

.error-message {
  color: #ff9900;
  margin-top: 10px;
}